You want to merge two DataFrames
To inner join, use merge with the on parameter to specify the column to merge
on:

In [1]:
# Load library
import pandas as pd
# Create DataFrame
employee_data = {'employee_id': ['1', '2', '3', '4'],
'name': ['Amy Jones', 'Allen Keys', 'Alice Bees',
'Tim Horton']}
dataframe_employees = pd.DataFrame(employee_data, columns = ['employee_id',
'name'])
# Create DataFrame
sales_data = {'employee_id': ['3', '4', '5', '6'],
'total_sales': [23456, 2512, 2345, 1455]}
dataframe_sales = pd.DataFrame(sales_data, columns = ['employee_id',
'total_sales'])
# Merge DataFrames
pd.merge(dataframe_employees, dataframe_sales, on='employee_id')

  employee_id        name  total_sales
0           3  Alice Bees        23456
1           4  Tim Horton         2512

The same parameter can be used to specify left and right joins:

In [2]:
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='left')

  employee_id        name  total_sales
0           1   Amy Jones          NaN
1           2  Allen Keys          NaN
2           3  Alice Bees      23456.0
3           4  Tim Horton       2512.0

We can also specify the column name in each DataFrame to merge on:

In [3]:
# Merge DataFrames
pd.merge(dataframe_employees,
dataframe_sales,
left_on='employee_id',
right_on='employee_id')

  employee_id        name  total_sales
0           3  Alice Bees        23456
1           4  Tim Horton         2512

If instead of merging on two columns we want to merge on the indexes of each
DataFrame, we can replace the left_on and right_on parameters with
right_index=True and left_index=True.

Inner
Return only the rows that match in both DataFrames (e.g., return any row
with an employee_id value appearing in both dataframe_employees and
dataframe_sales).

Outer
Return all rows in both DataFrames. If a row exists in one DataFrame but not
in the other DataFrame, fill NaN values for the missing values (e.g., return
all rows in both employee_id and dataframe_sales).

Left
Return all rows from the left DataFrame but only rows from the right
DataFrame that matched with the left DataFrame. Fill NaN values for the
missing values (e.g., return all rows from dataframe_employees but only
rows from dataframe_sales that have a value for employee_id that
appears in dataframe_employees).

Right
Return all rows from the right DataFrame but only rows from the left
DataFrame that matched with the right DataFrame. Fill NaN values for the
missing values (e.g., return all rows from dataframe_sales but only rows
from dataframe_employees that have a value for employee_id that appears
in dataframe_sales).