In [2]:
import pandas as pd
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/titanic.csv'
# Load data
dataframe = pd.read_csv(url)
# Show two rows
dataframe.head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [3]:
dataframe['Sex'].unique()

array(['female', 'male'], dtype=object)

Alternatively, value_counts will display all unique values with the number of
times each value appears

In [6]:
dataframe['Age'].value_counts()

22.00    35
30.00    31
21.00    31
18.00    30
36.00    29
         ..
0.80      1
67.00     1
0.33      1
0.17      1
69.00     1
Name: Age, Length: 75, dtype: int64

In [5]:
dataframe['Sex'].value_counts()

male      851
female    462
Name: Sex, dtype: int64

In [8]:
dataframe['PClass'].value_counts()

3rd    711
1st    322
2nd    279
*        1
Name: PClass, dtype: int64

While almost all passengers belong to one of three classes as expected, a single
passenger has the class *. There are a number of strategies for handling this type
of issue, which we will address in Chapter 5, but for now just realize that “extra”
classes are common in categorical data and should not be ignored.

Finally, if we simply want to count the number of unique values, we can use
nunique

In [9]:
dataframe['PClass'].nunique()

4