You have a vector of dates and you want to select one or more.
Use two boolean conditions as the start and end dates:

In [1]:
# Load library
import pandas as pd
# Create data frame
dataframe = pd.DataFrame()
# Create datetimes
dataframe['date'] = pd.date_range('1/1/2001', periods=100000, freq='H')

In [2]:
# Select observations between two datetimes
dataframe[(dataframe['date'] > '2002-1-1 01:00:00') &
(dataframe['date'] <= '2002-1-1 04:00:00')]

                    date
8762 2002-01-01 02:00:00
8763 2002-01-01 03:00:00
8764 2002-01-01 04:00:00

Alternatively, we can set the date column as the DataFrameâ€™s index and then
slice using loc:

In [4]:
# Set index
dataframe = dataframe.set_index(dataframe['date'])