pandas has many methods of creating a new DataFrame object. One easy method
is to create an empty data frame using DataFrame and then define each column
separately

In [1]:
import pandas as pd

dataframe=pd.DataFrame()
dataframe['Name']=['Jack','Steven']
dataframe['Age']=[38, 25]
dataframe['Driver']=[True, False]
dataframe

     Name  Age  Driver
0    Jack   38    True
1  Steven   25   False

Alternatively, once we have created a DataFrame object, we can append new
rows to the bottom

pandas offers what can feel like an infinite number of ways to create a
DataFrame. In the real world, creating an empty DataFrame and then populating
it will almost never happen. Instead, our DataFrames will be created from real
data we have loading from other sources (e.g., a CSV file or database).