Use concat with axis=0 to concatenate along the row axis:

In [2]:
import pandas as pd
data_a = {'id': ['1', '2', '3'],
'first': ['Alex', 'Amy', 'Allen'],
'last': ['Anderson', 'Ackerman', 'Ali']}
dataframe_a = pd.DataFrame(data_a, columns = ['id', 'first', 'last'])

In [3]:
# Create DataFrame
data_b = {'id': ['4', '5', '6'],
'first': ['Billy', 'Brian', 'Bran'],
'last': ['Bonder', 'Black', 'Balwner']}
dataframe_b = pd.DataFrame(data_b, columns = ['id', 'first', 'last'])

In [4]:
pd.concat([dataframe_a, dataframe_b], axis=0)

  id  first      last
0  1   Alex  Anderson
1  2    Amy  Ackerman
2  3  Allen       Ali
0  4  Billy    Bonder
1  5  Brian     Black
2  6   Bran   Balwner

In [5]:
pd.concat([dataframe_a, dataframe_b], axis=1)

  id  first      last id  first     last
0  1   Alex  Anderson  4  Billy   Bonder
1  2    Amy  Ackerman  5  Brian    Black
2  3  Allen       Ali  6   Bran  Balwner

Concatenating is not a word you hear much outside of computer science and
programming, so if you have not heard it before, do not worry. The informal
definition of concatenate is to glue two objects together. In the solution we glued
together two small DataFrames using the axis parameter to indicate whether we
wanted to stack the two DataFrames on top of each other or place them side by
side.